body {
  margin: 0;
  padding: 0;
}

#landing-screen {
  background: url("https://images.unsplash.com/photo-1566729318060-2f5fd56118db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  height: 100vh;
}

#home-screen {
  background-image: linear-gradient(135deg, #dae2f8 10%, #d6a4a4 100%);
  height: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

/** DASHBOARD **/

.dashboard-box-container {
  border-radius: 0.2rem;
  padding: 1rem;
  width: 250px;
  margin: 0.5rem;
  background-color: white;
  box-shadow: 0px 5px 5px grey;
}

.dashboard-box-container:hover {
  box-shadow: 0px 5px 15px grey;
}

.dashboard-box-container-bookmark {
  box-shadow: 0px 5px 5px grey;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.dashboard-box-container-bookmark:hover {
  box-shadow: 0px 5px 15px grey;
}

.team-box-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button {
  background-color: #489a8e;
}

/** User profile **/

.user-profile-img {
  height: 75px;
  border-radius: 75px;
}

/** Object component **/

.object-img {
  width: 100%;
}

.comment-item {
  background-color: white;
  padding: 1rem;
  border-radius: 0.2rem;
}

/** Modal style **/

.modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  box-shadow: 24;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
