body {
  margin: 0;
  padding: 0;
}

#home-screen {
  background: url("https://images.unsplash.com/photo-1566729318060-2f5fd56118db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}
